body {

    background: hsla(349, 100%, 4%, 1);

    background: linear-gradient(270deg, hsla(349, 100%, 4%, 1) 0%, hsla(350, 58%, 24%, 1) 21%, hsla(345, 54%, 25%, 1) 32%, hsla(336, 72%, 18%, 1) 55%, hsla(315, 53%, 14%, 1) 69%, hsla(273, 59%, 13%, 1) 85%, hsla(0, 0%, 0%, 1) 100%);
    
    background: -moz-linear-gradient(270deg, hsla(349, 100%, 4%, 1) 0%, hsla(350, 58%, 24%, 1) 21%, hsla(345, 54%, 25%, 1) 32%, hsla(336, 72%, 18%, 1) 55%, hsla(315, 53%, 14%, 1) 69%, hsla(273, 59%, 13%, 1) 85%, hsla(0, 0%, 0%, 1) 100%);
    
    background: -webkit-linear-gradient(270deg, hsla(349, 100%, 4%, 1) 0%, hsla(350, 58%, 24%, 1) 21%, hsla(345, 54%, 25%, 1) 32%, hsla(336, 72%, 18%, 1) 55%, hsla(315, 53%, 14%, 1) 69%, hsla(273, 59%, 13%, 1) 85%, hsla(0, 0%, 0%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#160004", endColorstr="#621A26", GradientType=1 );
}

main {
    width: min(1200px, 90vw);
    margin: auto;
}

.slider {
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(to right,
            transparent,
            #000 10% 90%,
            transparent);
}

.slider .list {
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}

.slider .list .item {
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc((10s / var(--quantity)) * (var(--position) - 1) - 10s) !important;
}

.slider .list .item img {
    width: 100%;
}

@keyframes autoRun {
    from {
        left: 100%;
    }

    to {
        left: calc(var(--width) * -1);
    }
}

.slider:hover .item {
    animation-play-state: paused !important;
    filter: grayscale(1);
}

.slider .item:hover {
    filter: grayscale(0);
}

.slider[reverse="true"] .item {
    animation: reversePlay 10s linear infinite;
}

@keyframes reversePlay {
    from {
        left: calc(var(--width) * -1);
    }

    to {
        left: 100%;
    }
}


.barra {
    position: fixed;
    top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1000;
    background-color: #333;
}

.menu-horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}

.menu-horizontal li {
    position: relative;
}

.menu-horizontal li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu-horizontal li:hover {
    background-color: red;
    transition: background-color 0.7s ease;
    border-radius: 10px;
}

.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    top: 100%;
    left: 0;
    backdrop-filter: blur(6px);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
    opacity: 1;
}

.menu-vertical li:hover {
    background-color: black;
}

.menu-vertical li a {
    display: block;
    color: rgb(251, 251, 251);
    padding: 15px 15px 15px 20px;
}

.menu-vertical .menu-vertical {
    left: 100%;
    top: 0;
}

.menu-vertical li:hover .menu-vertical {
    display: block;
    opacity: 1;
}

.barra-login {
    display: flex;
    align-items: center;
}

.barra-login input[type="text"] {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #686868;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: transform 300ms ease-in-out, box-shadow 300ms ease-in-out;
}

.barra-login input[type="text"]:focus {
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696, -13px -13px 100px #ffffff;
}

/* Estilos para la hamburguesa */
.hamburguesa {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 1010;
}

.hamburguesa span {
    width: 100%;
    height: 3px;
    background-color: white;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .menu-horizontal {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .menu-horizontal li {
        text-align: center;
    }

    .hamburguesa {
        display: flex;
    }

    .menu-horizontal.menu-activo {
        display: flex;
    }
}












.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Altura de la ventana */
    overflow: hidden;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-size: cover;
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.additional-content {
    padding: 50px;
    text-align: center;
}

.additional-content h2 {
    margin-top: 0;
}












@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Odibee+Sans&display=swap');

html,
body {
    scroll-behavior: smooth;
}

body {
    background-color: #CBCBCB;
    margin: 0;
    font-size: 14px;
    color: #2E373A;
    font-family: "Libre Baskerville", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

main {
    width: min(1400px, 100vw);
    margin: auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header img {
    height: 40px;
}

.banner .content {
    font-family: "Odibee Sans", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.banner .content h1 {
    font-size: 10em;
}

.banner .content .right {
    text-align: right;
    transform: translateY(-30px);
}

.banner .content .right h2 {
    font-size: 7em;
    font-weight: 200;
}

.banner .image {
    width: 100%;
    height: 600px;
    background-image: url(images/Untitled\ Project.jpg);
    position: absolute;
}



.banner .image img {
    position: absolute;
    height: 130%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
}

.grid figure img {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(var(--row), 100px);
    margin-top: 50px;
    gap: 50px;
}

.grid-1 figure:nth-child(1) {
    grid-column: 2 / 6;
    grid-row: 1;
}

.grid-1 figure:nth-child(2) {
    grid-column: 3 / 5;
    grid-row: 1;
}

.grid-1 h2:nth-child(3) {
    font-size: 7em;
    grid-column: 1 / 7;
    text-align: center;
    grid-row: 5;
    z-index: 1;
}

.grid-1 {
    --row: 2;
}

.grid-2 {
    --row: 8;
    font-size: 1.7em;
}

.grid-2 div:nth-child(1) {
    grid-column: 1 / 4;
    grid-row: 3;
}

.grid-2 div:nth-child(2) {
    grid-column: 4 / 7;
    grid-row: 1;
}

.grid-2 div:nth-child(3) {
    grid-column: 4 / 7;
    grid-row: 4;
}

.grid-2 div:nth-child(4) {
    grid-column: 1 / 4;
    grid-row: 6;
}

.grid-3 {
    --row: 6;
    font-size: 5em;
}

.grid-3 div {
    grid-column: 2/ 6;
    text-wrap: nowrap;
}

.grid-3 div:nth-child(even) {
    text-align: right;
}

.grid-3 div:nth-child(5) {
    grid-column: 1/ 6;
}

.grid-3 div:nth-child(4) {
    grid-column: 1/ 7;
}


@media screen and (max-width: 1023px) {
    header img {
        height: 2em;
    }

    .banner .content h1 {
        font-size: 12em;
    }

    .banner .content .right {
        transform: none;
    }

    .grid-2 div:nth-child(1) {
        grid-row: 2;
    }

    .grid-2 div:nth-child(3) {
        grid-row: 6;
    }

    .grid-2 div:nth-child(4) {
        grid-row: 5;
    }

    .grid-3 {
        font-size: 5em;
        line-height: 1em;
    }
}

@media screen and (max-width: 1023px) {
    header img {
        height: unset;
        width: 100%;
    }

    .banner .content h1 {
        font-size: 7em;
    }

    .banner .content {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner {
        overflow: hidden;
    }

    .grid-1 h2:nth-child(3) {
        font-size: 3em;
    }

    .grid {
        display: block;
    }

    .grid-3 {
        font-size: 4em;
        display: block;
        margin-bottom: 100px;
    }
}

.autoRotate {
    animation: autoRotateAnimation;
    animation-timeline: view();
}

@keyframes autoRotateAnimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.autoShow {
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);

}

@keyframes autoShowAnimation {
    from {
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.autoBLur {
    animation: autoBLurAnimation linear both;
    animation-timeline: view();
}

@keyframes autoBLurAnimation {
    0% {
        filter: blur(40px);
    }

    45%,
    55% {
        filter: blur(0px);
    }

    100% {
        filter: blur(40px);
    }
}







/*

scroll bar 


*/


/* Estilo para la barra de scroll completa */
::-webkit-scrollbar {
    width: 12px;
    /* Ancho de la barra de scroll */
}

/* Estilo para la "pista" de la barra de scroll */
::-webkit-scrollbar-track {
    background: #232323;
    /* Color de fondo de la pista */
}










/*

cards 


*/
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.card {
    position: relative;
    width: 200px;
    height: 300px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.card .overlay h3 {
    margin: 0 0 10px;
    font-size: 1.2em;
    text-align: center;
}

.card .overlay button {
    padding: 10px 20px;
    background-color: #ff5722;
    border: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.card .overlay button:hover {
    background-color: #e64a19;
}

.card:hover .overlay {
    opacity: 1;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}












/*

footer

*/


footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between; /* Asegura que el mapa esté a la derecha y el contacto a la izquierda */
    align-items: flex-start;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    
}

.footer-contact {
    flex: 1;
    margin-right: 20px; /* Añade margen a la derecha para separar del mapa */
}

.footer-map {
    flex: 1;
    margin-left: 20px; /* Añade margen a la izquierda para separar de la información de contacto */
}

.footer-map iframe {
    border: none;
    width: 100%;
    height: 250px;
}

.footer-contact h2, .footer-map h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-contact p {
    margin: 5px 0;
}

.social-media a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
}

.social-media a:hover {
    text-decoration: underline;
}